
@{
    Layout = null;
}


<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Utopiatrips - Trekking around banglore,trekking, adventure,night trek">
    <meta name="author" content="Utoipatrips">
    <title>Utopiatrips - Explore To Live</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="~/Content/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~/Content/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/Content/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/Content/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/Content/img/apple-touch-icon-144x144-precomposed.png">

    <!-- Google web fonts -->
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Lato:300,400|Montserrat:400,400i,700,700i" rel="stylesheet">
    <!-- CSS -->
    <link href="~/Content/css/base.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!--[if lte IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->
    <div id="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <!-- End Preload -->
    <div class="layer"></div>
    <!-- Mobile menu overlay mask -->
    <!-- Header Plain:  add the id plain to header and change logo.png to logo_sticky.png ======================= -->
    <header id="plain">
        <div id="top_line">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6"><i class="icon-phone"></i><strong>+91-9880223554</strong></div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <ul id="top_links">
                            <li>
                                <div class="dropdown dropdown-access">
                                    @Html.ActionLink("Gift Card", "GiftCards", "GiftCard", null, new { @class = "icon-ticket" })
                                </div>
                                <!-- End Dropdown access -->
                            </li>
                            <li>
                                <div class="dropdown dropdown-access">
                                    @Html.ActionLink("Corporate Discount", "CorporateOuting", "CorporateDiscount", null, new { @class = "icon-group-circled" })
                                </div>
                                <!-- End Dropdown access -->
                            </li>
                            <li>
                                <div class="dropdown dropdown-access">

                                    @Html.ActionLink("Sign In", "Login", "Login", null, new { @id = "access_link" })

                                </div>
                                <!-- End Dropdown access -->
                            </li>
                            <li>
                                @Html.ActionLink("Wishlist", "BucketList", "Wishlist", null, new { @id = "wishlist_link" })
                            </li>
                        </ul>
                    </div>
                </div><!-- End row -->
            </div><!-- End container-->
        </div><!-- End top line-->

        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div id="logo_home">
                        <img src="~/Content/img/logo_sticky.png" width="40" height="40" alt="City tours" data-retina="true">
                    </div>
                </div>
                <nav class="col-md-9 col-sm-9 col-xs-9">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            <img src="~/Content/img/logo_sticky.png" width="160" height="34" alt="City tours" data-retina="true">
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li class="submenu">
                                @Html.ActionLink("Home", "Index", "Home", null, null)
                            </li>
                            <li class="megamenu submenu">
                                <a href="javascript:void(0);" class="show-submenu-mega">Tours</a>
                                <div class="menu-wrapper">
                                    <div class="col-md-4">
                                        <h3><b>One Day Trek</b></h3>
                                        <ul>
                                            <li>@Html.ActionLink("Antharagange Trek (Day/Night)", "AntharagangeTrek", "OneDayTrekking", null, null)</li>
                                            <li>@Html.ActionLink("Kunthi Betta Trek (Day/Night)", "KuntiBettaTrek", "OneDayTrekking", null, null)</li>
                                            <li>@Html.ActionLink("Makali Durga Trek (Day/Night)", "MaklidurgaTrek", "OneDayTrekking", null, null)</li>
                                            <li>@Html.ActionLink("Ramamdevara Betta Trek (Day/Night)", "RamadevaraBettaTrek", "OneDayTrekking", null, null)</li>
                                            <li>@Html.ActionLink("Rangaswamy Betta Trek (Night)", "RangaswamyBettaTrek", "OneDayTrekking", null, null)</li>
                                            <li>@Html.ActionLink("Savandurga Hill Trek (Day/Night)", "SavandurgaTrek", "OneDayTrekking", null, null)</li>
                                            <li>@Html.ActionLink("Hari Hara Hill Trek(Night)", "HariHaraTrek", "OneDayTrekking", null, null)</li>
                                            <li>@Html.ActionLink("Kabal Durga Hill Trek (Night)", "KabbalDurgaTrek", "OneDayTrekking", null, null)</li>
                                            <li>@Html.ActionLink("Narayana Giri Trek (Night)", "NarayanagiriTrek", "OneDayTrekking", null, null)</li>
                                        </ul>
                                    </div>

                                    <div class="col-md-4">
                                        <h3><b>Two Day Trek</b></h3>
                                        <ul>
                                            <li>@Html.ActionLink("Bhramagiri Hill Trek", "BhramagiriHillsTrek", "TwoDayTrekking", null, null)</li>
                                            <li>@Html.ActionLink("Kodachadri Trek", "KodachadriTrek", "TwoDayTrekking", null, null)</li>
                                            <li>@Html.ActionLink("Sakleshpur Trek", "SakleshpurTrek", "TwoDayTrekking", null, null)</li>
                                            <li>@Html.ActionLink("Kumaraparvatha Trek", "KumaraParvathaTrek", "TwoDayTrekking", null, null)</li>
                                            <li>@Html.ActionLink("Mullayangiri Trek", "MullayanagiriTrek", "TwoDayTrekking", null, null)</li>
                                            <li>@Html.ActionLink("Thadiyandamol Trek", "ThadiyandamolTrek", "TwoDayTrekking", null, null)</li>
                                            <li>@Html.ActionLink("Gokarna Trek", "GokarnaTrek", "TwoDayTrekking", null, null)</li>

                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <h3><b>Hand Picked</b></h3>
                                        <ul>
                                            <li>@Html.ActionLink("Dabbe Falls Trek", "DabbeFallsTrekking", "BestTrekking", null, null)</li>
                                            <li>@Html.ActionLink("Agumbe Trek", "AgumbeTrekking", "BestTrekking", null, null)</li>
                                            <li>@Html.ActionLink("Kundari Trek", "KundariTrekking", "BestTrekking", null, null)</li>
                                            <li>@Html.ActionLink("Kavaledurga Trek", "KavaledurgaTrekking", "BestTrekking", null, null)</li>
                                        </ul>
                                    </div>
                                </div><!-- End menu-wrapper -->

                            </li>
                            <li class="megamenu submenu">
                                @Html.ActionLink("Stories", "Blog", "Blog", null, null)
                            </li>
                            <li class="submenu">
                                @Html.ActionLink("Hotspots", "Hotspots", "Hotspot", null, null)
                            <li class="submenu"></li>
                            <li class="submenu">
                                @Html.ActionLink("Bucket List", "BucketList", "Wishlist", null, null)
                            </li>
                            <li class="megamenu submenu">
                                @Html.ActionLink("Best Clicks", "Gallery", "BestClick", null, null)
                            </li>
                            <li class="megamenu submenu">
                                @Html.ActionLink("We Are..", "About", "AboutUs", null, null)
                            </li>
                            <li class="megamenu submenu">
                                @Html.ActionLink("Find Us", "FindUs", "ContactUs", null, null)
                            </li>
                            <li class="megamenu submenu">
                                @Html.ActionLink("FAQ", "FAQ", "FAQ", null, null)
                            </li>
                            <li class="megamenu submenu">
                                @Html.ActionLink("Terms", "Terms", "Termsandcondition", null, null)
                            </li>
                        </ul>
                    </div><!-- End main-menu -->


                    <ul id="top_tools">
                        <li>
                            <div class="dropdown dropdown-search">
                                <a href="#" class="search-overlay-menu-btn" data-toggle="dropdown"><i class="icon-search"></i></a>
                            </div>
                        </li>
                        <!--  <li>
                  <div class="dropdown dropdown-cart">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class=" icon-basket-1"></i>Cart </a>
                  </div> End dropdown-cart
              </li>-->
                    </ul>
                </nav>
            </div>
        </div><!-- container -->
    </header><!-- End Header -->

    <div id="map" class="map" style="border-bottom:none; height:100%; width:100%; position:absolute; top:0; left:0;"></div>
    <div id="map_filter">
        <ul>
            <li><a href="javascript:toggleMarkers('OneDayTrek');"><i class="icon_set_1_icon-30"></i><span>Day Trek</span></a></li>
            <li><a href="javascript:toggleMarkers('NightTrek');"><i class="icon-pitch"></i><span>Night Trek</span></a></li>
            <li><a href="javascript:toggleMarkers('TwoDayTrek');"><i class="icon_set_1_icon-37"></i><span>Two Day Trek</span></a></li>
            <li><a href="javascript:toggleMarkers('HandPicked');"><i class="icon-heart-circled"></i><span>Handpicked</span></a></li>

        </ul>
    </div>

    <!-- Search Menu -->
    <div class="search-overlay-menu">
        <span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
        <form role="search" id="searchform" method="get">
            <input value="" name="q" type="search" placeholder="Search..." />
            <button type="submit">
                <i class="icon_set_1_icon-78"></i>
            </button>
        </form>
    </div><!-- End Search Menu -->
    <!-- Common scripts -->
    <script src="~/Content/js/jquery-2.2.4.min.js"></script>
    <script src="~/Content/js/common_scripts_min.js"></script>
    <script src="~/Content/js/functions.js"></script>
    <!-- Map -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyC6H557FxgxlgExCsm4pFZlQWnlzxuTxtA"></script>
    <script src="~/Content/js/map_full_page.js"></script>
    <script src="~/Content/js/infobox.js"></script>

</body>
</html>
